<template>
  <div class="q-pa-xl">
    <p class="text-h4">表单输入绑定</p>
    <span class="text-subtitle1">v-model:</span>
    <table>
      <thead>
        <tr>
          <th>元素</th>
          <th>property</th>
          <th>事件</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>text/textarea</td>
          <td>value</td>
          <td>@input</td>
        </tr>
        <tr>
          <td>checkbox/radio</td>
          <td>checked</td>
          <td>@change</td>
        </tr>
        <tr>
          <td>select</td>
          <td>value</td>
          <td>@change</td>
        </tr>
      </tbody>
    </table>
    <p class="text-h5 q-mt-md">radiobox</p>
    <div class="q-gutter-md row items-center">
      <br />
      <div class="row items-center">
        <input
          type="radio"
          value="radio1"
          class="q-mr-xs"
          v-model="radio"
          name="radio"
          checked
          @change="changeRadio('radio1')"
          ref="radio1"
        /><label>radio1（init checked）</label>
      </div>
      <div class="row items-center">
        <input
          type="radio"
          value="radio2"
          name="radio"
          @change="changeRadio('radio2')"
          class="q-mr-xs"
          v-model="radio"
          ref="radio2"
        /><label>radio2</label>
      </div>
      <div class="row items-center">
        <input
          type="radio"
          value="radio3"
          name="radio"
          @change="changeRadio('radio3')"
          class="q-mr-xs"
          ref="radio3"
          v-model="radio"
        /><label>radio3</label>
      </div>
      <div
        class="row items-center cursor-pointer"
        @click="updateRadio('radio4')"
      >
        <input
          hidden
          type="radio"
          name="radio"
          @change="changeRadio('radio4')"
          value="radio4"
          ref="radio4"
          class="q-mr-xs"
          v-model="radio"
        />
        <div class="border-box round-border radio-outer">
          <div
            v-show="radio === 'radio4'"
            class="bg-primary round-border radio-inner"
          />
        </div>
        <span>radio4</span>
      </div>
      <div
        class="row items-center cursor-pointer"
        @click="updateRadio('radio5')"
      >
        <input
          hidden
          type="radio"
          @change="changeRadio('radio5')"
          value="radio5"
          name="radio"
          ref="radio5"
          class="q-mr-xs"
          v-model="radio"
        />
        <div class="border-box round-border radio-outer">
          <div
            v-show="radio === 'radio5'"
            class="bg-primary round-border radio-inner"
          />
        </div>
        <span>radio5</span>
      </div>
      <div
        class="row items-center cursor-pointer"
        @click="updateRadio('radio6')"
      >
        <input
          hidden
          type="radio"
          name="radio"
          @change="changeRadio('radio6')"
          value="radio6"
          ref="radio6"
          class="q-mr-xs"
          v-model="radio"
        />
        <div class="border-box round-border radio-outer">
          <div
            v-show="radio === 'radio6'"
            class="bg-primary round-border radio-inner"
          />
        </div>
        <span>radio6</span>
      </div>
      <q-radio
        v-model="radio"
        @change="changeRadio('radio5')"
        val="radio7"
        label="radio7"
      />
      <div>radio: {{ radio }}</div>
    </div>
    <span class="text-red">
      <li>
        v-model会忽略checked
        attribute的初始值,但是需要加上name属性，否则初始checked的项目会被选中。
      </li>
    </span>

    <p class="text-h5 q-mt-xl">checkbox</p>
    <div class="q-gutter-md row items-center">
      <div class="row items-center">
        <input
          type="checkbox"
          value="checkbox1"
          class="q-mr-xs"
          ref="checkbox1"
          @change="changeCheckbox('checkbox1')"
          checked
          v-model="checkbox"
        /><label>checkbox1（init checked）</label>
      </div>
      <div class="row items-center">
        <input
          type="checkbox"
          value="checkbox2"
          ref="checkbox2"
          class="q-mr-xs"
          @change="changeCheckbox('checkbox2')"
          v-model="checkbox"
        /><label>checkbox2</label>
      </div>
      <div class="row items-center">
        <input
          type="checkbox"
          value="checkbox3"
          ref="checkbox3"
          class="q-mr-xs"
          @change="changeCheckbox('checkbox3')"
          v-model="checkbox"
        /><label>checkbox3</label>
      </div>
      <div class="row items-center">
        <q-checkbox
          label="checkbox4"
          ref="checkbox4"
          val="checkbox4"
          v-model="checkbox"
        />
      </div>
      <div>checkbox: {{ checkbox }}</div>
    </div>
    <span class="text-red">
      <li>多个checkbox时，v-model初始值一定要是个Array。</li>
      <li>v-model会忽略checked attribute的初始值。</li></span
    >
    <div class="q-gutter-md q-mt-xs row items-center">
      <div class="row items-center">
        <input
          type="checkbox"
          class="q-mr-xs"
          @change="consoleValue"
          v-model="checkboxBool"
        /><label>checkboxBool</label>
      </div>
      <div>checkboxBool:{{ checkboxBool }}</div>
    </div>
    <div class="q-gutter-md q-mt-xs row items-center">
      <div class="row items-center">
        <input
          type="checkbox"
          class="q-mr-xs"
          true-value="true-value"
          false-value="false-value"
          @change="consoleValue"
          v-model="checkboxSetVal"
        /><label>checkboxSetVal</label>
      </div>
      <div>checkboxSetVal:{{ checkboxSetVal }}</div>
    </div>

    <p class="text-h5 q-mt-xl">select</p>
    <div class="q-gutter-md row items-center">
      <span>单选：</span>
      <select v-model="select" ref="select" @change="changeSelect">
        <option ref="selectOpt1">YuyuQueen</option>
        <option selected ref="selectOpt2">MissU(selected init)</option>
        <option ref="selectOpt3">Kawayi</option>
      </select>
      <div>select: {{ select }}</div>
    </div>
    <div class="text-red q-mt-sm q-mb-md">
      <li>v-model会忽略selected的初始值。</li>
    </div>
    <div class="q-gutter-md row items-center">
      <span>多选：</span>
      <select
        v-model="multiSelect"
        ref="multiSelect"
        @change="changeMultiSelect"
        multiple
      >
        <option ref="multiSelectOpt1">YuyuQueen</option>
        <option selected ref="multiSelectOpt2">MissU(selected init)</option>
        <option ref="multiSelectOpt3">Kawayi</option>
      </select>
      <div>multiSelect: {{ multiSelect }}</div>
    </div>
    <div class="text-red q-mt-sm q-mb-md">
      <li>
        v-model的初始值定义为Array时，会忽略option中的selected的初始值;
      </li>
      <li>
        当v-model的初始定义为String时，则不会忽略。
      </li>
    </div>
    <p class="text-h5">修饰符</p>
    <span class="text-h6">.lazy:@change时才同步</span>
    <div class="q-gutter-md row items-center">
      <label>默认为@input时同步</label
      ><input v-model="input" class="q-mr-md" />
      <label>v-model.lazy,@change时同步:</label><input v-model.lazy="input" />
      <div>input: {{ input }},typeof(input):{{ typeof input }}</div>
    </div>
    <div class="text-h6 q-mt-md">.number</div>
    <div class="q-gutter-md row items-center">
      <label>type="number"</label><input v-model="typeNum" type="number" />
      <div class="q-mr-md">
        typeNum: {{ typeNum }},typeof(typeNum):{{ typeof typeNum }}
      </div>
      <label>v-model.number:</label><input v-model.number="inputNum" />
      <div>inputNum: {{ inputNum }},typeof(inputNum):{{ typeof inputNum }}</div>
    </div>
    <div class="text-h6 q-mt-md">.trim:过滤首尾空格</div>
    <div class="q-gutter-md row items-center">
      <label>默认情况:</label> <textarea v-model="input" />
      <label>v-model.trim:</label> <input v-model.trim="input" />
      <span class="text-white bg-primary">input:{{ input }}</span>
      <span
        >通过左右打空格，对比另一侧光标位置观察。但看input输出打印看不出来。</span
      >
    </div>
  </div>
</template>

<script>
export default {
  name: 'FormInputBind',
  data() {
    return {
      radio: 'radio2',
      checkbox: ['checkbox2'],
      select: 'Kawayi',
      multiSelect: ['Kawayi'],
      checkboxBool: null,
      checkboxSetVal: null,
      input: null,
      inputNum: null,
      typeNum: null
    };
  },

  methods: {
    updateRadio(val) {
      this.$refs[val].click();
    },
    changeRadio(val) {
      console.log(
        val,
        [1, 2, 3, 4, 5, 6]
          .map(num => {
            return `radio${num}-${this.$refs[`radio${num}`].checked}`;
          })
          .join(' ')
      );
    },
    changeCheckbox(val) {
      console.log(
        val,
        [1, 2, 3]
          .map(num => {
            return `checkbox${num}-${this.$refs[`checkbox${num}`].checked}`;
          })
          .join(' ')
      );
    },
    changeSelect(event) {
      console.log(
        [1, 2, 3]
          .map(num => {
            return this.$refs[`selectOpt${num}`].selected;
          })
          .join(),
        event.target.value,

        this.$refs.select
      );
    },
    changeMultiSelect(event) {
      console.log(
        [1, 2, 3]
          .map(num => {
            return this.$refs[`multiSelectOpt${num}`].selected;
          })
          .join(),
        event.target.selectedOptions,
        this.$refs.multiSelect
      );
    },
    consoleValue(event) {
      console.log('value:', event.target.value);
    }
  }
};
</script>

<style>
td,
th {
  border: solid 1px grey;
  padding: 5px 10px;
}
.radio-inner {
  width: 8px;
  height: 8px;
}
.round-border {
  border-radius: 50%;
}
.radio-outer {
  border: solid 2px #002fa7;
  margin-right: 4px;
  width: 16px;
  height: 16px;
  padding: 2px;
}
</style>
