<template>
  <div class="q-px-lg">
    <h5>事件处理：v-on:click等价于@click</h5>
    <div class="q-gutter-x-md">
      a:{{ a }}
      <q-btn label="a+=1" v-on:click="a += 1" />
      <q-btn label="事件处理方法" @click="resetA" />
      <q-btn label="内联处理器中的方法" @click="changeA(10, $event)" />
      <q-btn
        label="多事件处理器"
        @click="resetA($event, 1), changeA(5, $event)"
      />
    </div>
    <h6>事件修饰符</h6>
    <div class="q-gutter-md row">
      <div
        class="q-px-lg q-pb-lg border-box col-2 cursor-pointer"
        @click="clickone"
      >
        1
        <div class="q-px-lg q-pb-lg border-box" @click="clicktwo">
          2
          <div class="q-px-lg border-box" @click.stop="clickthree">
            3,stop
          </div>
        </div>
      </div>
      <div
        class="q-px-lg q-pb-lg border-box col-2 cursor-pointer"
        @click="clickone"
      >
        1
        <div class="q-px-lg q-pb-lg border-box" @click.capture="clicktwo">
          2,capture
          <div class="q-px-lg border-box" @click="clickthree">
            3
          </div>
        </div>
      </div>
      <div
        class="q-px-lg q-pb-lg border-box col-2 cursor-pointer"
        @click.self="clickone"
      >
        1,self
        <div class="q-px-lg q-pb-lg border-box" @click="clicktwo">
          2
          <div class="q-px-lg border-box" @click.once="clickthree">
            3,once
          </div>
        </div>
      </div>
      <div
        class="q-px-lg q-pb-lg border-box col-2 cursor-pointer"
        @click.self.prevent="clickone"
      >
        1,self.prevent
        <div class="q-px-lg q-pb-lg border-box" @click.prevent.self="clicktwo">
          2,prevent.self
          <div class="q-px-lg border-box" @click="clickthree">
            3 <span class="text-red">prevent有问题！！！</span>
          </div>
        </div>
      </div>
      <form
        @submit="submitForm('提交表单，q-form自带prevent，故使用原生form')"
        class="col-2 items-center column q-gutter-y-md"
      >
        <q-input v-model="inputVal" outlined />
        <q-btn type="submit" label="submit" />
      </form>
      <form
        @submit.prevent="submitForm('.prevent阻止提交表单页面刷新')"
        class="col-2 items-center column q-gutter-y-md"
      >
        <q-input v-model="inputVal" outlined />
        <q-btn type="submit" label=".prevent" />
      </form>
      <form
        @submit.prevent.passive="submitForm('.passive使.prevent被忽略')"
        class="col-2 items-center column q-gutter-y-md"
      >
        <q-input v-model="inputVal" outlined />
        <q-btn type="submit" label=".prevent.passive" />
      </form>
      <div
        class="col-2 border-box overflow-auto"
        style="height:150px"
        @scroll.passive="scrollPassive($event)"
      >
        <span class="text-red">没看出来作用在哪</span>
        <h3>@scroll.passive</h3>
      </div>
    </div>
    <h6>按键修饰符:</h6>
    <span class="text-subtitle1">
      按键别名 .enter .tab .delete (捕获“删除”和“退格”键) (.esc .space .up .down
      .left .right)<br />
      系统修饰键 .ctrl .alt .shift .meta
    </span>
    <div class="q-gutter-md row">
      <q-input
        label="keyup.enter"
        class="col-2"
        v-model="inputVal"
        @keyup.enter="inputVal = 'keyup.enter'"
      />
      <q-input
        label="keydown.delete"
        class="col-2"
        v-model="inputVal"
        @keydown.delete="inputVal = 'keydown.delete'"
      />
      <q-input
        label="keydown.meta.enter"
        class="col-2"
        v-model="inputVal"
        @keydown.meta.enter="inputVal = 'keydown.meta.enter'"
      />
      <q-input
        label="keydown.delete.shift"
        class="col-2"
        v-model="inputVal"
        @keydown.delete.shift="inputVal = 'keydown.delete.shift'"
      />
      <q-input
        label="keydown.ctrl"
        class="col-2"
        v-model="inputVal"
        @keydown.ctrl="inputVal = 'keydown.ctrl'"
      />
    </div>
    <div class="q-my-lg">
      <span class="text-subtitle1">
        .exact修饰符：没有任何（其余-修饰系统修饰键）系统修饰健按下时才触发
      </span>
      <div class="q-gutter-md row items-center ">
        <q-input
          label="keydown.ctrl.exact"
          class="col-2"
          v-model="inputVal"
          @keydown.ctrl.exact="inputVal = 'keydown.ctrl.exact'"
        />
        <q-input
          label="keydown.ctrl.meta.exact"
          class="col-2"
          v-model="inputVal"
          @keydown.ctrl.meta.exact="inputVal = 'keydown.ctrl.meta.exact'"
        />
        <q-btn label=".exact" @click.exact="inputVal = 'exact'" />
      </div>
    </div>
    <span class="text-subtitle1">
      鼠标按钮修饰符：.left .right .middle
    </span>
    <div class="q-gutter-md row items-center ">
      <q-btn label=".left" @click.left="inputVal = 'mouse-left'" />
      <q-btn label=".right" @click.right="inputVal = 'mouse-right'" />
      <q-btn label=".middle" @click.middle="inputVal = 'mouse-middle'" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'EventHandle',
  data() {
    return {
      a: 1,
      inputVal: null
    };
  },
  methods: {
    resetA(event, type) {
      console.log(
        `${type ? '原生事件$event:' : '原生 DOM event'}:`,
        event,
        '\nevent.target:',
        event.target,
        '\nevent.target.tagName:',
        event.target.tagName
      );
      this.a = 0;
    },
    changeA(num, event) {
      console.log(
        '原生事件$event:',
        event,
        '\nevent.target:',
        event.target,
        '\nevent.target.tagName:',
        event.target.tagName
      );
      this.a = num;
    },
    clickone() {
      console.log();
      console.log('点击了1');
    },
    clicktwo() {
      console.log('点击了2');
    },
    clickthree() {
      console.log('点击了3');
    },
    submitForm(val) {
      console.log(val);
    },
    scrollPassive(val) {
      console.log(val);
    }
  }
};
</script>

<style>
.border-box {
  border: 1px solid black;
}
</style>
