<template>
  <div>
    <button v-on:click="count++">You clicked me {{ count }} times.</button>
  </div>
</template>

<script>
export default {
  name: 'CompBasicDemo1',
  data() {
    return {
      count: 0
    };
  }
};
</script>

<style></style>
