<template>
  <div class="row q-gutter-x-md">
    <span>{{ title }}</span>
    <button @click="$emit('enlargeTitle', 5)">enlargeTitle</button>
  </div>
</template>

<script>
export default {
  name: 'CompBasicDemo2',
  props: ['title'],
  emits: ['enlargeTitle']
};
</script>

<style></style>
