<template>
  <input v-model="value" />
</template>

<script>
export default {
  name: 'vModelComputedDemo',
  props: ['modelValue'],
  emits: ['update:modelValue'],
  computed: {
    value: {
      get() {
        return this.modelValue;
      },
      set(val) {
        this.$emit('update:modelValue', val);
      }
    }
  }
};
</script>

<style></style>
