<template>
  <button @click="$emit('update:modelValue', 2)">{{ modelValue }}</button>
</template>

<script>
export default {
  name: 'vModelDestructDemo',
  props: ['modelValue'],
  emits: ['update:modelValue']
};
</script>

<style></style>
