<template>
  <div class="column q-pa-lg q-gutter-y-md">
    <ul>
      <li>组件是带有名称的可复用实例</li>
      <li>可以将组件进行任意次数的复用</li>
      <li>每用一次组件，就会有一个它的新实例被创建</li>
      <li>各自独立维护它的选项（如data，computed，methods，生命周期钩子等）</li>
    </ul>
    <div class="row q-gutter-x-lg">
      <global-comp-demo1 />
      <global-comp-demo1 />
      <global-comp-demo1 />
    </div>
    <div>
      <block-post-demo title="demo1" />
    </div>

    <div class="column q-gutter-md">
      <ul>
        <li>props传递数据</li>
        <li>监听子组件事件（emits）</li>
        <li>使用事件抛出一个值（$event)</li>
      </ul>
      <div class="row q-gutter-x-lg" :style="{ 'font-size': fontSize + 'px' }">
        <demo-2
          v-for="title in titles"
          @enlargeTitle="fontSize += $event"
          :title="title"
        />
      </div>
      <div>
        <button class="cursor-pointer" @click="fontSize++">fontSize++</button
        >（父组件按钮）
      </div>
    </div>
    <div class="column q-gutter-y-md">
      <div class="text-subtitle1">v-model</div>
      <ul>
        <li>props:['modelValue'] <br />emits:['update:modelValue']</li>
        <li>
          自定义组件解构v-model：model-value="someVal"<br />@update:model-value="someVal=$event"
        </li>
      </ul>
      <div>
        <vModelDemo v-model="vModelDemo" class="q-mr-md" /><span
          >vModelDemo:{{ vModelDemo }}</span
        >
      </div>
      <div>
        computed：
        <vModelComputedDemo v-model="vModelComputedDemo" class="q-mr-md" /><span
          >vModelComputedDemo:{{ vModelComputedDemo }}</span
        >
      </div>
      <div>
        <vModelDestructDemo
          :model-value="changeModelVal"
          @update:model-value="changeModelVal = changeModelVal + $event"
          class="q-mr-md"
        /><span
          >changeModelVal(changeModelVal =changeModelVal+$event):{{
            changeModelVal
          }}</span
        >
      </div>
      <div class="column q-gutter-y-md">
        <div class="text-subtitle1">is</div>
        <li>动态组件component</li>
        <div>
          <component
            :is="compIs"
            :model-value="changeModelVal"
            @update:model-value="changeModelVal = changeModelVal + $event"
            class="q-mr-md"
          />
          changeModelVal(changeModelVal =changeModelVal+$event):{{
            changeModelVal
          }}
        </div>
        <li>特殊情况下is的妙用(这个demo没体现出来)</li>
        <table class="border-box">
          <tr is="vue:vModelComputedDemo" v-model="vModelComputedDemo" />
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import demo2 from './components/demo2.vue';
import vModelDemo from './components/vModelDemo.vue';
import vModelComputedDemo from './components/vModelComputedDemo.vue';
import vModelDestructDemo from './components/vModelDestructDemo.vue';
export default {
  name: 'CompBasic',
  data() {
    return {
      fontSize: 12,
      titles: ['title1', 'title2', 'title3'],
      vModelDemo: null,
      vModelComputedDemo: null,
      changeModelVal: 0,
      compIs: 'vModelDestructDemo'
    };
  },
  components: { demo2, vModelDemo, vModelComputedDemo, vModelDestructDemo }
};
</script>

<style></style>
